In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
branch_visits = pd.read_csv("../data/cleaned_files/tpl_branch_visits_2012_2022_clean.csv")
branch_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NBHDNo      1085 non-null   int64
 1   NBHDName    1085 non-null   object
 2   BranchCode  1085 non-null   object
 3   BranchName  1085 non-null   object
 4   Year        1085 non-null   int64
 5   Visits      1085 non-null   int64
dtypes: int64(3), object(3)
memory usage: 51.0+ KB

In [3]:
branch_reg = pd.read_csv("../data/cleaned_files/tpl_branch_registrations_2012_2022_clean.csv")
branch_reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NBHDNo         1095 non-null   int64
 1   NBHDName       1095 non-null   object
 2   BranchCode     1095 non-null   object
 3   BranchName     1095 non-null   object
 4   Year           1095 non-null   int64
 5   Registrations  1095 non-null   int64
dtypes: int64(3), object(3)
memory usage: 51.5+ KB

In [4]:
branch_circ = pd.read_csv("../data/cleaned_files/tpl_branch_circulation_2012_2022_clean.csv")
branch_circ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095 entries, 0 to 1094
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NBHDNo       1095 non-null   int64
 1   NBHDName     1095 non-null   object
 2   BranchCode   1095 non-null   object
 3   BranchName   1095 non-null   object
 4   Year         1095 non-null   int64
 5   Circulation  1095 non-null   int64
dtypes: int64(3), object(3)
memory usage: 51.5+ KB

In [5]:
branch_wrkstn_use = pd.read_csv("../data/cleaned_files/tpl_branch_workstation_use_2012_2022_clean.csv")
branch_wrkstn_use.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NBHDNo      1081 non-null   int64
 1   NBHDName    1081 non-null   object
 2   BranchCode  1081 non-null   object
 3   BranchName  1081 non-null   object
 4   Year        1081 non-null   int64
 5   Sessions    1081 non-null   int64
dtypes: int64(3), object(3)
memory usage: 50.8+ KB

In [6]:
branch_lvl_stats_1 = pd.merge(branch_visits, branch_reg, on=['NBHDNo', 'NBHDName', 'BranchCode', 'BranchName','Year'], how = 'outer')
branch_lvl_stats_1

,NBHDNo,NBHDName,BranchCode,BranchName,Year,Visits,Registrations
0,2,Mount Olive-Silverstone-Jamestown,AB,Albion,2012,522309.0,4939
1,120,Clairlea-Birchmount,ACD,Albert Campbell,2012,214076.0,1695
2,20,Alderwood,AD,Alderwood,2012,88065.0,445
3,118,Tam O'Shanter-Sullivan,AG,Agincourt,2012,434320.0,3166
4,39,Bedford Park-Nortown,AH,Armour Heights,2012,67184.0,467
...,...,...,...,...,...,...,...
1090,170,Yonge-Bay Corridor,CH,City Hall,2021,NaN,28
1091,99,Mount Pleasant East,MP,Mount Pleasant,2021,NaN,4
1092,87,High Park-Swansea,SW,Swansea Memorial,2021,NaN,1
1093,96,Casa Loma,WY,Wychwood,2021,NaN,18
1094,99,Mount Pleasant East,MP,Mount Pleasant,2022,NaN,7

In [7]:
branch_lvl_stats_2 = pd.merge(branch_lvl_stats_1, branch_circ, on=['NBHDNo', 'NBHDName', 'BranchCode', 'BranchName','Year'], how = 'outer')
branch_lvl_stats_2

,NBHDNo,NBHDName,BranchCode,BranchName,Year,Visits,Registrations,Circulation
0,2,Mount Olive-Silverstone-Jamestown,AB,Albion,2012,522309.0,4939,515235
1,120,Clairlea-Birchmount,ACD,Albert Campbell,2012,214076.0,1695,446623
2,20,Alderwood,AD,Alderwood,2012,88065.0,445,171050
3,118,Tam O'Shanter-Sullivan,AG,Agincourt,2012,434320.0,3166,1061437
4,39,Bedford Park-Nortown,AH,Armour Heights,2012,67184.0,467,204490
...,...,...,...,...,...,...,...,...
1090,170,Yonge-Bay Corridor,CH,City Hall,2021,NaN,28,10989
1091,99,Mount Pleasant East,MP,Mount Pleasant,2021,NaN,4,11242
1092,87,High Park-Swansea,SW,Swansea Memorial,2021,NaN,1,4642
1093,96,Casa Loma,WY,Wychwood,2021,NaN,18,3768
1094,99,Mount Pleasant East,MP,Mount Pleasant,2022,NaN,7,10191

In [8]:
branch_lvl_stats_3 = pd.merge(branch_lvl_stats_2, branch_wrkstn_use, on=['NBHDNo', 'NBHDName', 'BranchCode', 'BranchName','Year'], how = 'outer')
branch_lvl_stats_3

,NBHDNo,NBHDName,BranchCode,BranchName,Year,Visits,Registrations,Circulation,Sessions
0,2,Mount Olive-Silverstone-Jamestown,AB,Albion,2012,522309.0,4939,515235,132024.0
1,120,Clairlea-Birchmount,ACD,Albert Campbell,2012,214076.0,1695,446623,131353.0
2,20,Alderwood,AD,Alderwood,2012,88065.0,445,171050,16279.0
3,118,Tam O'Shanter-Sullivan,AG,Agincourt,2012,434320.0,3166,1061437,140407.0
4,39,Bedford Park-Nortown,AH,Armour Heights,2012,67184.0,467,204490,11895.0
...,...,...,...,...,...,...,...,...,...
1090,170,Yonge-Bay Corridor,CH,City Hall,2021,NaN,28,10989,NaN
1091,99,Mount Pleasant East,MP,Mount Pleasant,2021,NaN,4,11242,NaN
1092,87,High Park-Swansea,SW,Swansea Memorial,2021,NaN,1,4642,NaN
1093,96,Casa Loma,WY,Wychwood,2021,NaN,18,3768,NaN
1094,99,Mount Pleasant East,MP,Mount Pleasant,2022,NaN,7,10191,NaN

In [9]:
# Convert 'NBHDNo' to string and add leading zeros
branch_lvl_stats_3['NBHDNo'] = branch_lvl_stats_3['NBHDNo'].apply(lambda x: str(x).zfill(3))
branch_lvl_stats_3

,NBHDNo,NBHDName,BranchCode,BranchName,Year,Visits,Registrations,Circulation,Sessions
0,002,Mount Olive-Silverstone-Jamestown,AB,Albion,2012,522309.0,4939,515235,132024.0
1,120,Clairlea-Birchmount,ACD,Albert Campbell,2012,214076.0,1695,446623,131353.0
2,020,Alderwood,AD,Alderwood,2012,88065.0,445,171050,16279.0
3,118,Tam O'Shanter-Sullivan,AG,Agincourt,2012,434320.0,3166,1061437,140407.0
4,039,Bedford Park-Nortown,AH,Armour Heights,2012,67184.0,467,204490,11895.0
...,...,...,...,...,...,...,...,...,...
1090,170,Yonge-Bay Corridor,CH,City Hall,2021,NaN,28,10989,NaN
1091,099,Mount Pleasant East,MP,Mount Pleasant,2021,NaN,4,11242,NaN
1092,087,High Park-Swansea,SW,Swansea Memorial,2021,NaN,1,4642,NaN
1093,096,Casa Loma,WY,Wychwood,2021,NaN,18,3768,NaN
1094,099,Mount Pleasant East,MP,Mount Pleasant,2022,NaN,7,10191,NaN

In [10]:
branch_lvl_stats_3 = branch_lvl_stats_3.fillna(0)

In [11]:
branch_lvl_stats = branch_lvl_stats_3.copy()

In [12]:
branch_lvl_stats.to_csv('../data/cleaned_files/branch_lvl_stats.csv', index=False)